*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabeçalho-imagem{
 width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
    padding: 24px 0 ;
}

.Gráfica-sobre{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}


